In [25]:
import itertools
import time
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

%matplotlib inline
plt.style.use('ggplot')

In [26]:
df = pd.read_csv("base_data2.csv")

In [27]:
df.drop(['CLASS','DT','YEAR','HML_SI_CAT'],axis=1,inplace=True)
df.head(3)

   HML_SI  HML_SI_BIN  CORR_PRODUCTION  ...  COK_AMS  SIN_CAO_SIO2  SIN_MGO
0   0.758           0          6392.38  ...   37.497         2.437    1.710
1   0.823           0          6398.66  ...   37.560         2.368    1.792
2   0.806           0          6438.70  ...   37.424         2.342    1.710

[3 rows x 38 columns]

In [28]:
#Setting up the X and Y variables, adding constant term for intercept
X=df[['SIN_CAO_SIO2', 'UPPER_K','MIDDLE_K','LOWER_K','K','HML_S','HML_MGO','HML_AL2O3','HML_CAO_SIO2']]
y = df.HML_SI
X = sm.add_constant(X)

X.head()

   const  SIN_CAO_SIO2  UPPER_K  ...  HML_MGO  HML_AL2O3  HML_CAO_SIO2
0    1.0         2.437    0.553  ...    9.207     19.463         1.081
1    1.0         2.368    0.575  ...    9.509     19.310         0.986
2    1.0         2.342    0.571  ...    9.435     19.458         1.022
3    1.0         2.328    0.547  ...    9.646     19.464         1.012
4    1.0         2.225    0.549  ...    9.857     19.449         0.979

[5 rows x 10 columns]

In [29]:
df[['HML_SI','HML_SIO2']]

     HML_SI  HML_SIO2
0     0.758    32.997
1     0.823    34.620
2     0.806    33.847
3     0.743    33.800
4     0.748    34.383
..      ...       ...
523   0.788    33.813
524   0.727    33.760
525   0.780    33.749
526   0.764    34.202
527   0.673    33.663

[528 rows x 2 columns]

In [30]:
model_1 = sm.OLS(y, X)
result_1 = model_1.fit()
result_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 HML_SI   R-squared:                       0.306
Model:                            OLS   Adj. R-squared:                  0.293
Method:                 Least Squares   F-statistic:                     25.32
Date:                Thu, 25 Jun 2020   Prob (F-statistic):           3.92e-36
Time:                        06:34:49   Log-Likelihood:                 762.10
No. Observations:                 528   AIC:                            -1504.
Df Residuals:                     518   BIC:                            -1462.
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            1.8275      0.201      9.084      0.000       1.432       2.223
SIN_CAO_SIO2    -0.0485      0.018     -2.713      0.007      -0.084      -0.013
UPPER_K         -2.5749      4.608     -0.559      0.577     -11.627       6.478
MIDDLE_K        -2.7176      4.608     -0.590      0.556     -11.770       6.335
LOWER_K         -2.7423      4.609     -0.595      0.552     -11.797       6.313
K                2.7456      4.609      0.596      0.552      -6.309      11.801
HML_S           -5.0914      0.534     -9.534      0.000      -6.141      -4.042
HML_MGO         -0.0350      0.005     -6.610      0.000      -0.045      -0.025
HML_AL2O3        0.0246      0.005      5.276      0.000       0.015       0.034
HML_CAO_SIO2    -0.9837      0.119     -8.238      0.000      -1.218      -0.749
==============================================================================
Omnibus:                       68.717   Durbin-Watson:                   1.467
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              224.962
Skew:                           0.582   Prob(JB):                     1.41e-49
Kurtosis:                       5.978   Cond. No.                     7.92e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.92e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [31]:
a = pd.DataFrame(abs(df.corr()['HML_SI'])>0.1)

In [32]:
a= a[a['HML_SI']==True]

In [33]:
l = a.index
l

Index(['HML_SI', 'HML_SI_BIN', 'CORR_PRODUCTION', 'CORR_COKE_RATE',
       'CORR_COAL_RATE', 'HM_TEMP', 'QUARTZ_RATE', 'SLAG_RATE',
       'PYROXINITE_RATE', 'HOT_BLAST_TEMP', 'COLD_BLAST_O2_ENRICH',
       'O2_INJ_FLOW', 'COLD_BLAST_HUMID', 'COMP_COLD_BLAST_FLOW', 'UPTAKE_AVG',
       'UPPER_K', 'MIDDLE_K', 'K', 'HML_S', 'HML_CAO', 'HML_AL2O3',
       'HML_CAO_SIO2', 'COK_MOISTURE', 'SIN_CAO_SIO2', 'SIN_MGO'],
      dtype='object')